extends layout

block content
  if message
    blockquote.message= message

  if error
    blockquote.error
      p L'API le.taxi a répondu l'erreur suivante :
      code= JSON.stringify(error)

  a(href='/') Retour vers la page d'accueil

  h1 Créer un taxi

  form(action='/taxi', method='POST')
    fieldset
      legend Chauffeur
      div.formfield
        label Licence professionnelle*
        input(name='professional_licence', value=body ? body.professional_licence: '' required)
      div.formfield
        label Département*
        input(name='departement', value=body ? body.departement : '', required)
    fieldset
      legend Véhicule
      div.formfield
        label Plaque d'immatriculation*
        input(name='licence_plate', value=body ? body.licence_plate : '', required)
    fieldset
      legend ADS
      div.formfield
        label Numéro d'ADS*
        input(name='numero', value=body ? body.numero : '', required)
      div.formfield
        label Code INSEE de la commune*
        input(name='insee', value=body ? body.insee : '', required)
      div.formfield
        button(type='submit') Valider
